<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xsi:schemaLocation="NLog NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwExceptions="true"
      autoReload="true"
      internalLogFile="c:\temp\console-example-internal.log"
      internalLogLevel="Trace" >
  <extensions>
    <add assembly="NLog.Appsettings.Standard"/>
  </extensions>
  <targets>
    <target xsi:type="File" name="file" encoding="utf-8"
            fileName="${basedir}/logs/${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${message} ${onexception:${newline}${exception:tostring}}" />
    <target xsi:type="Console" name="console"
            layout="${longdate} ${uppercase:${level}} ${message} ${onexception:${newline}${exception:tostring}}" />
    <target xsi:type="Database" name="oracle_ub_db"
            connectionString="${appsettings:name=connectionString}"
            dbProvider="Oracle.ManagedDataAccess.Client.OracleConnection, Oracle.ManagedDataAccess"
            keepConnection="false"
            commandType="StoredProcedure"
            commandText="WEB_OFFICE.WEBPKG.addErrorApp">
      <parameter name=":p_code_app" layout="${appsettings:name=appCode}" />
      <parameter name=":p_iduser" layout="${event-properties:item=userId}" />
      <parameter name=":p_message " layout="${message}" />
      <parameter name=":p_stacktrace " layout="${exception:tostring}" />
      <parameter name=":p_machinename " layout="${machinename}" />
    </target>
  </targets>
  <rules>
    <logger name="*" minlevel="Debug" writeTo="file" />
    <logger name="*" minlevel="Debug" writeTo="console" />
    <logger name="*" minlevel="Error" writeTo="oracle_ub_db" />
  </rules>
</nlog>